body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
   /*  border: 1px solid red; */
    color: white;
    background-image: url("https://img.freepik.com/premium-photo/roasted-coffee-beans-with-green-leaves-dark-background-top-view_795422-5261.jpg");
}

.menu {
   /*  border:  1px solid purple; */
    width: 80%;
    margin: 0 auto;
    background-color:  rgb(51, 30, 2);
    text-align: center;

}

footer {
   /*  border: 1px solid green; */
    background-image: url("https://img.freepik.com/premium-photo/roasted-coffee-beans-with-green-leaves-dark-background-top-view_795422-5261.jpg");
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    font-weight: bold;

    
}

.home {
   /*  border: 1px solid red; */
    text-align: left;
    padding: 10px 30px;
}

.contact {
    /* border: 1px solid red; */
    text-align: left;
    padding: 10px 30px;
}

.heading {
    text-align: center;
   /*  border: 1px solid red; */
    /* background-color: rgb(8, 49, 3); */
    background-image: url("https://img.freepik.com/premium-photo/roasted-coffee-beans-with-green-leaves-dark-background-top-view_795422-5261.jpg");
    padding: 10px 0;
    font-size: 32px;
}

section {
    /* border: 1px solid red; */
    
}

.coffee-items, .dessert-items {
   /*  border: 1px solid purple; */
    display: flex;
    flex-wrap: wrap;;
    justify-content: space-evenly;
    
}

.item{
    border: 1px solid burlywood;
 /*   border: 1px solid red; */
    padding: 10px;
    width: 300px;
    margin: 10px 20px;
    border-radius: 20px;
    /* max-width: 300px; */
    

}

.item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.item .price {
    color: green;
    font-size: 25px;
    font-weight: bold;
}

/* .item .flavor, .dessert {
    color: orange;
    font-size: 30px;
} */

.coffee-section h2, .dessert-section h2 {
    font-size: 40px;
}

.coffee-icon {
    /* border: 1px solid red; */
}

.coffee-items {
    /* border: 1px solid purple; */
    
}

.coffee-section {
   /*  border: 1px solid orange; */
    background-image: url("https://png.pngtree.com/background/20230410/original/pngtree-coffee-beans-leaves-wood-plank-background-picture-image_2385568.jpg");
}



.coffee-icon, .dessert-icon {
   /*  border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.dessert-section {
    background-image: url("https://png.pngtree.com/background/20230410/original/pngtree-coffee-beans-leaves-wood-plank-background-picture-image_2385568.jpg");
}

.flavor, .dessert{
    font-weight: 300;
    color: burlywood;
    font-size: 30px;
    font-weight: 380;
    
}

.dessert {
    
}

a:visited {
    color: wheat;
}